<h1></h1>Edit <%= @user.email %>'s account here.

<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="email" value="<%= @user.email %>">
  <input type="text" name="password" value="<%= @user.password %>">
  <input type="submit">
</form>
